table.lotto-649-odds{width:100%}
table.lotto-649-odds td{text-align:left}
table.lotto-649-odds .match{width:15%;padding:10px;background:#f7f7f7}
table.lotto-649-odds .win-amount{width:60%;background:#cedeeb}
table.lotto-649-odds .odds-of-winning{width:30%;background:#b5d0e1}
table.prize .match,.theme-lotto649 table.prize .gray-col{background-color:#f7f7f7}
table.prize .win-amount,.theme-lotto649 table.prize .light-col{background-color:#cedeeb}
table.prize .odds-of-winning,.theme-lotto649 table.prize .dark-col{background-color:#b5d0e1}
table.prize .match{width:71px;padding:10px;background:#f7f7f7}
table.prize .win-amount{width:232px;background:#cedeeb}
table.prize .odds{width:134px;background:#b5d0e1}
table.prize td{text-align:center;border:solid 1px #828181;color:#000}
table.prize th{border:solid 1px #828181;border-bottom:solid 2px #666;text-align:center;color:#000;background:#FFF}
.numberButton {
	display: inline;
	font-size: 15px;
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
   .header .nav-pills{
  		display:none;
   }
   .header .m-nav-pills{
   		display: inline;
   }
}
.jumbotron .btn{
	white-space: normal;
}