<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#/stat">Stat</a></li>
    <li><a href="#">Contact</a></li>  </ul>
  <h2 class="text-muted">Luck Statistics</h2>
</div>


<div class="jumbotron">
  <h1>BC lottry 6/49</h1>
  <p class="lead">
    <img src="images/bc-649.png" alt="BC lottery 6/49"><br>
    Always smart on your buying. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Let's talk about statistics.!</a></p>
</div>

<div class="row marketing">
<h4>Please select 7 numbers:</h4>
  <div class="buttons">
      <li ng-repeat="number in numbers" class="numberButton">
          <a class="numberLink" ng-class="{active: number.selected}" ng-click="selectNumber(number)" href=""> <label>{{number.value}}</label></a>
      </li>
  </div>
</div>
  <h4>You choose:</h4>
  <div class="buttons">
      <li ng-repeat="number in selectedNumber | orderBy:'value'" class="numberButton">
          <a class="numberLink" ng-class="{active: number.selected}" ng-click="selectNumber(number)" href=""> <label>{{number.value}}</label></a>
      </li>
  </div>
  <div id="chartContent">
  <svg class="luckStatChart">
  </svg>
  </div>
<div class="footer">
  <p>♥ from the your IT geek</p>
</div>
